RewriteEngine On

# Skip if the request is for an existing file or directory
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Rewrite requests without .php extension to the corresponding .php file
RewriteRule ^([^/]+)$ $1.php [L,QSA]